<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.proneucon.learnnewquizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartingSceenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- WICHTIG um die Activity starten zu können !!! -->
        <activity android:name=".QuizActivity"
            android:label="@string/titel_activity_quiz"
            android:parentActivityName=".StartingSceenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartingSceenActivity"/>
        </activity>
    </application>



</manifest>